<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693472463765-77m9dklroh8lnodhpiql2vb5msmtg79d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693472463765-77m9dklroh8lnodhpiql2vb5msmtg79d</string>
	<key>API_KEY</key>
	<string>AIzaSyBqH-pCZEY5kyzDc_nEVE-17DCAIwFzSqY</string>
	<key>GCM_SENDER_ID</key>
	<string>693472463765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramzy.TryFirestore</string>
	<key>PROJECT_ID</key>
	<string>tryfirestore-b504a</string>
	<key>STORAGE_BUCKET</key>
	<string>tryfirestore-b504a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693472463765:ios:1e587c8b4e86f89598c49c</string>
</dict>
</plist>